@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
       url('./fonts/Roboto-Bold.ttf') format('truetype');
       
}

* {
  background-color: rgb(15, 19, 73);
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
  border-radius: 12px;
}

.app {
  
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}
